<div class="modal-header">
  <h4 class="modal-title">{{ isEdit ? 'Update Dealer' : 'Add Dealer'}}</h4>
  <button type="button" class="close" (click)="activeModel.dismiss()">
    &times;
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="dealerForm">

    <div class="form-group">
      <label>Name<sup class="text-danger">*</sup></label>
      <input type="text" class="form-control" formControlName="name" placeholder="Name">
      <small
        *ngIf="dealerForm.controls['name']?.errors?.['required'] && dealerForm.controls['name'].touched"
        class="text text-danger">Enter Name</small>
      <small
        *ngIf="dealerForm.controls['name']?.errors?.['pattern'] && dealerForm.controls['name'].touched"
        class="text text-danger">Enter only Alphabets and at least 4 characters</small>
    </div>

    <div class="form-group">
      <label>Mobile Number<sup class="text-danger">*</sup></label>
      <input type="text" class="form-control" formControlName="mobileNo" placeholder="Mobile Number">
      <small
        *ngIf="dealerForm.controls['mobileNo']?.errors?.['required'] && dealerForm.controls['mobileNo'].touched"
        class="text text-danger">Enter Mobile Number</small>
      <small
        *ngIf="dealerForm.controls['mobileNo']?.errors?.['pattern'] && dealerForm.controls['mobileNo'].touched"
        class="text text-danger">Enter correct Mobile number and only 10 Digit</small>
    </div>

    <div class="form-group" [hidden]="isEdit">
      <label>Password<sup class="text-danger">*</sup></label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
      <small
        *ngIf="dealerForm.controls['password']?.errors?.['required'] && dealerForm.controls['password'].touched"
        class="text text-danger">Enter Password</small>
      <small
        *ngIf="dealerForm.controls['password']?.errors?.['pattern'] && dealerForm.controls['password'].touched"
        class="text text-danger">Enter Proper Password with 1 capital and small letter, number and special
        character and at least 6 Characters</small>
    </div>

    <div class="form-group" [hidden]="isEdit">
      <label>Confirm Password<sup class="text-danger">*</sup></label>
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
      <small
        *ngIf="dealerForm.controls['confirmPassword']?.errors?.['required'] && dealerForm.controls['confirmPassword'].touched"
        class="text text-danger">Enter Confirm Password</small>
      <small
        *ngIf="dealerForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']  && dealerForm.controls['confirmPassword'].touched"
        class="text-danger">Password not Matched</small>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="main-btn dark-btn btn-sm" (click)="activeModel.dismiss()">Close</button>
  <button type="button"
    class="main-btn primary-btn btn-sm text-center"
    [ngClass]=" dealerForm.invalid ? ' disabled' : '' "
    [disabled]=" dealerForm.invalid" (click)="addDealer()">{{ isEdit ?
    'Save' : 'Add'}}
  </button>
</div>
