<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 order-last order-md-first">
        <div class="copyright text-left">
          <p class="text-sm">
            Made with <i class="lni lni-heart-filled"></i> in WebOsmotic By
            <a
              href="https://www.github.com/manishkumar1601"
              target="_blank"
            >
              Manish
            </a>
          </p>
        </div>
      </div>
      <!-- end col-->
      <div class="col-md-6">
        <div
          class="
            terms
            d-flex
            justify-content-center justify-content-md-end
          "
        >
          <a class="text-sm">Term & Conditions</a>
          <a class="text-sm ml-15">Privacy & Policy</a>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
